.textarea {
    resize: none;
    background-color: white !important;
    color: black;
    padding: 10%;
    word-wrap: break-word;
}

.big {
    height: 1000px;
}

.form-small-page {
    margin-top: 60px;
}

.form-big-page {
    margin-top: 40px;
}

.small {
    height: 227px;
    cursor: pointer;
    width: 170px;
    border-radius: 5px;
    word-wrap: break-word;
    overflow: hidden;
}


.scrollable-col {
    overflow-y: auto;
}

.sticky-col {
    position: sticky;
    height: 100%;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 60px);
}

.page-anchor {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.img-fluid-small {
    max-width: 50%;
    height: auto;
}

.dynamic-table {
    width: 100%;
    border-collapse: collapse;
    /* Add this property to collapse table borders */
}

.dynamic-table td {
    border: 1px solid #000;
    /* Customize the border style as needed */
    padding: 8px;
    /* Add padding to the cells for spacing */
    font-size: calc(0.8vw + 1vmin);
    /* You can adjust the formula as needed */
    white-space: nowrap;
}

.dynamic-table-small td,
.dynamic-table-small tr {
    border: 1px solid #000;
    /* Customize the border style as needed */
    padding: calc(0.1vw);
    /* Add padding to the cells for spacing */
    font-size: calc(0.1vw + 0.5vmin);
    height: 1%;
    /* You can adjust the formula as needed */
    white-space: nowrap;
}