.textarea {
    resize: none;
    background-color: white !important;
    color: black;
    padding: 10%;
    word-wrap: break-word;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 40px;
    overflow: scroll;
    min-height: 1000px;
}

.custom-overflow {
    overflow: auto;
}


.dynamic-table td {
    border: 1px solid #000;
    padding: 8px;
    font-size: calc(0.8vw + 1vmin);
    white-space: nowrap;
}

.box-shadow-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}