body {
  margin: 0;
  /* background-color: black !important; */
  color: white !important;
  background-image: url('../assets/gymPhoto-barbel-bg.jpeg');
  background-size: cover;
  background-attachment: fixed;
}

html {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none !important;
}