.sidebar {
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: -210px;
    width: 210px;
    background-color: #CCCCCC;
    transition: right 0.3s ease-in-out;
    z-index: 5;
}

.sidebar.open {
    right: 0;
}

.toggle-btn-wrapper {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: right 0.3s ease-in-out;
}

.toggle-btn-wrapper.open {
    right: 230px;
    position: fixed;
    z-index: 5;
}

.nav {
    direction: rtl;
    margin-top: 50%;
}

.nav-link {
    color: black;
    padding-top: 15%;
}

.nav-link:hover {
    color: white;
}

.nav-link:active {
    color: white;
}

.nav-link-trainerView:hover {
    color: #A5B0C0 !important;
}

.nav-link-trainerView:active {
    color: #A5B0C0;
}

h1 {
    cursor: pointer;
}

header {
    padding: 2px;
    background-image: url('../assets/gymPhoto-barbel-bg.jpeg');
    border-radius: 10px;
}