.sidebar {
    height: 100%;
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: -210px;
    width: 210px;
    background-color: #CCCCCC;
    transition: right 0.3s ease-in-out;
    z-index: 6;
}

.sidebar.open {
    right: 0;
}

.toggle-btn-wrapper {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: right 0.3s ease-in-out, scale 300ms;
}

.toggle-btn-wrapper:hover {
    scale: 1.2;
}

.toggle-btn-wrapper.open {
    right: 230px;
    position: fixed;
    z-index: 6;
}

.nav {
    direction: rtl;
    margin-top: 50%;
}

.nav-link,
.nav-link:visited {
    color: black;
    padding-top: 15%;
}

.nav-link:hover,
.nav-link:has(:visited):hover {
    color: white;
}

.nav-link:active {
    color: white;
}

h1 {
    cursor: pointer;
}

header {
    padding: 2px;
    background-image: url('../assets/gymPhoto-barbel-bg.jpeg');
    border-radius: 10px;
}

.side-bar-box-shadow-container {
    box-shadow: -10px 1px 8px 0 rgba(0, 0, 0, 0.5), -10px 2px 20px 0 rgba(0, 0, 0, 0.2);
}

.name-area {
    width: max(50%, 250px);
}